In [1]:
name = "Danielle"

In [2]:
age = 20

In [3]:
print name

Danielle

In [4]:
print age

20

In [5]:
print name + str(age)

Danielle20

In [15]:
letter1 = "M"
letter2 = "Y"
letter3 = "N"
letter4 = "A"
letter5 = "M"
letter6 = "E"

In [16]:
print letter2

Y

In [21]:
start = letter1 + letter2 + " " + letter3 + letter4 + letter5 + letter6

In [23]:
print start + " IS " + name

MY NAME IS Danielle

In [24]:
gas = 3.90
truck = 14

In [25]:
print gas

3.9

In [26]:
print truck

14

In [27]:
3/5

0

In [28]:
3.0/5.0

0.6

In [29]:
colors = ["red", "blue","green","yellow","brown","orange","pink","purple","burgundy","blanchedalmond"]

In [30]:
print colors[-1]

blanchedalmond

In [31]:
len(colors)

10

In [32]:
print colors(9)

TypeError: 'list' object is not callable

In [33]:
print colors[9]

blanchedalmond

In [54]:
cars = {"ford":"F150","Volkswagen":"golf","audi":["q2","a4"],"smart":"smartfor4","bmw":"328i","toyota":"corolla"}

In [39]:
print cars["audi"]

['q2', 'a4']

In [41]:
print cars["audi"][1]

a4

In [44]:
# let's loop through colors
for color in colors:
    print color

red
blue
green
yellow
brown
orange
pink
purple
burgundy
blanchedalmond

In [45]:
# start after first item
for color in colors[1:]:
    print color

blue
green
yellow
brown
orange
pink
purple
burgundy
blanchedalmond

In [46]:
print colors[1:]

['blue', 'green', 'yellow', 'brown', 'orange', 'pink', 'purple', 'burgundy', 'blanchedalmond']

In [47]:
building = "annenberg"

In [48]:
building[0]

'a'

In [49]:
building[5:]

'berg'

In [50]:
building[:5]

'annen'

In [51]:
colors[:5]

['red', 'blue', 'green', 'yellow', 'brown']

In [52]:
for letter in building:
    print letter

a
n
n
e
n
b
e
r
g

In [55]:
for car in cars:
    print car

toyota
Volkswagen
bmw
ford
smart
audi

In [60]:
# loop through cars and print
for car in cars:
    print car + " " + str(cars[car])

toyota corolla
Volkswagen golf
bmw 328i
ford F150
smart smartfor4
audi ['q2', 'a4']

In [63]:
# loop through colors and print everything that'ts not blanchedalmond 
for color in colors:
    if color is not "blanchedalmond":
        print color

red
blue
green
yellow
brown
orange
pink
purple
burgundy

In [64]:
# addition
5+3

8

In [65]:
# subtraction
9 - 3

6

In [66]:
# division
8 / 2

4

In [67]:
# multiplication
6 * 2

12

In [68]:
# modulo
5 % 2

1

In [69]:
8 > 2

True

In [70]:
8 > 10

False

In [71]:
truck >= 14

True

In [72]:
# is gas greater than 3?
gas > 3

True

In [73]:
calgas = gas

In [74]:
arkgas = 2.7

In [75]:
calgas < arkgas

False

In [76]:
first_name = "Domi"

In [78]:
firstName = "Jacqui"

In [79]:
sentence = "Jon said, "Hello.""

SyntaxError: invalid syntax (<ipython-input-79-1e539b9c07c8>, line 1)

In [82]:
sentence = "Jon said, \"Hello.\""
print sentence

Jon said, "Hello."

In [89]:
sentence2 = "Danielle said, 'Can we do single quotes?'"
print sentence2

Danielle said, 'Can we do single quotes?'

In [91]:
sentence3 = "Jon said, \"Danielle said, 'Can we do single quotes?'\""
print sentence3

Jon said, "Danielle said, 'Can we do single quotes?'"

In [92]:
sentence3 = "\"Danielle said, 'Can we do single quotes?'\""
print sentence3

"Danielle said, 'Can we do single quotes?'"

In [95]:
sentence4 = """
This is a line.
And another line.
And even on more line.
"""
print sentence4

This is a line.
And another line.
And even on more line.

In [96]:
# create a text file
f = open("Week2test.txt","w")

In [97]:
# write a sentence to that file
f.write(sentence4)

In [98]:
#close the file
f.close()

In [102]:
# open the file for reading
f = open("week2test.txt","r")

In [100]:
f.read()

'\nThis is a line.\nAnd another line.\nAnd even on more line.\n'

In [101]:
f.read()

''

In [103]:
f.readlines()

['\n', 'This is a line.\n', 'And another line.\n', 'And even on more line.\n']

In [104]:
f.close()

In [113]:
f = open("week2test.txt","a")

In [114]:
f.write("I just added this line!\n")

In [115]:
f.close()

In [116]:
fruits = """
red
\t*strawberry
\t*cherry
\t*raspberry
\t*apple
"""

In [117]:
print fruits

red
	*strawberry
	*cherry
	*raspberry
	*apple

In [118]:
f = open("week2test.txt","a")

In [119]:
f.write(fruits)

In [120]:
f.close()

In [121]:
import csv

In [125]:
# open the assessor file
with open ("assessor.csv","r") as csvfile:
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assessor id number is in row
        if '5525-030-023' in row:
            print row

['5525-030-023', '19811026-50', 'other', 'N', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '457', '', 'N', 'ORANGE DR', '', 'LOS ANGELES CA', '90036-2611', '', '', '', '', '', '', '']

In [126]:
# open the assessor file
with open ("assessor.csv","r") as csvfile:
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assessor id number is in row
        if 'UNIVERSITY OF SOUTHERN CA' in row:
            print row

['5525-030-023', '19811026-50', 'other', 'N', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '457', '', 'N', 'ORANGE DR', '', 'LOS ANGELES CA', '90036-2611', '', '', '', '', '', '', '']
['5525-032-017', '19811026-50', 'other', 'N', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '321', '', 'N', 'SYCAMORE AVE', '', 'LOS ANGELES CA', '90036-2685', '0', '', '', 'UNIVERSITY PARK MC-0588', '', 'LOS ANGELES CA', '90089']
['5055-027-022', '19860611-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '1149', '', 'E', '28TH ST', '', 'LOS ANGELES CA', '90011-2159', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5055-029-020', '19860114-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '1138', '', 'W', '29TH ST', '', 'LOS ANGELES CA', '90007-3115', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5055-029-021', '19860114-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '1124', '', 'W', '29TH ST', '', 'LOS ANGELES CA', '90007-3114', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5122-022-002', '19890418-50', 'other', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '3500', '', 'S', 'HOPE ST', '', 'LOS ANGELES CA', '90007-4342', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5123-004-433', '19921026-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '3375', '', 'S', 'HOOVER ST', '115', 'LOS ANGELES CA', '90089-0116', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']
['5139-029-027', '20101105-50', '', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', '', '1155', '', 'S', 'GRAND AVE', 'NO  1410', 'LOS ANGELES CA', '90015-2272', '620', '', 'W', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089']
['2331-032-199', '20080212-50', 'nonReapp', 'Y', 'UNIVERSITY OF SOUTHERN CA', '', '', 'DEE JACKSON', '13032', '', '', 'VICTORY BLVD', '', 'LOS ANGELES CA', '91606-2926', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']

In [127]:
# open the assessor file
with open ("assessor.csv","r") as csvfile:
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assessor id number is in row
        if 'UNIVERSITY OF SOUTHERN CA' in row or "UNIVERSITY OF SO CALIF" in row:
            print row[0]

7480-004-007
7480-040-026
5525-030-023
5525-032-017
5039-002-029
5039-002-030
5039-002-031
5039-002-032
5039-002-033
5039-002-034
5039-003-027
5039-003-029
5039-003-030
5039-012-027
5039-012-029
5039-012-030
5039-012-031
5039-012-033
5039-019-051
5039-024-016
5055-012-019
5055-027-022
5055-029-020
5055-029-021
5122-022-002
5122-025-006
5122-025-010
5122-025-012
5122-025-013
5123-004-403
5123-004-411
5123-004-433
5123-023-024
5123-023-025
5124-011-016
5139-029-027
2331-032-199

In [132]:
# open up usc property file
f = open ("usc.txt","w")

# write header row
f.write("<p><strong>ain</strong></p>\n")

# open the assessor file
with open ("assessor.csv","r") as csvfile:
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if usc variations are in row
        if 'UNIVERSITY OF SOUTHERN CA' in row or "UNIVERSITY OF SO CALIF" in row:
            print row[0]
            f.write('<p>' + row[0] + '</p>\n')
            
# close the usc.txt file
f.close()

7480-004-007
7480-040-026
5525-030-023
5525-032-017
5039-002-029
5039-002-030
5039-002-031
5039-002-032
5039-002-033
5039-002-034
5039-003-027
5039-003-029
5039-003-030
5039-012-027
5039-012-029
5039-012-030
5039-012-031
5039-012-033
5039-019-051
5039-024-016
5055-012-019
5055-027-022
5055-029-020
5055-029-021
5122-022-002
5122-025-006
5122-025-010
5122-025-012
5122-025-013
5123-004-403
5123-004-411
5123-004-433
5123-023-024
5123-023-025
5124-011-016
5139-029-027
2331-032-199

In [2]:
# define a new function
def Widget(time):
    if time is "night":
        print "MEEEOOOOWWWW"
    elif time is "day":
        print "prrr"
    else:
        print "ZZZ"

In [3]:
Widget("night")

MEEEOOOOWWWW

In [4]:
Widget("day")

prrr

In [5]:
Widget("sleep")

ZZZ