In [1]:
3*3

9

# This is a heading.

This is just simple addition.

In [3]:
4+5

9

This is a string.

In [6]:
"Hello"

'Hello'

This is an integer.

In [7]:
10

10

This is a float.

In [8]:
2.5

2.5

This is a boolean.

In [11]:
True

True

This is a list of name.

In [20]:
names = ["Jon", "Piper", "Krissy", "Danielle"]

In [21]:
names

['Jon', 'Piper', 'Krissy', 'Danielle']

In [16]:
fruits = {"banana": "yellow","apple":"green"}

In [17]:
fruits

{'apple': 'green', 'banana': 'yellow'}

In [18]:
names[1]

'Piper'

In [19]:
names[-1]

'Danielle'

In [22]:
names[1] is "Piper"

True

In [23]:
names[2] is "Danielle"

False

In [24]:
year = 2018

In [25]:
year2 = 2100

In [26]:
year2-year

82

In [27]:
names[::-1]

['Danielle', 'Krissy', 'Piper', 'Jon']

In [1]:
f = open("file.txt","w")

In [2]:
f.close()

In [3]:
f = open("file.txt","r")

In [5]:
f.readline()

'Hello my name is Danielle'

In [6]:
f.close()

In [12]:
f = open("file.txt","a")

In [13]:
f.write("\nMORE")

In [14]:
f.close()